@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-jost: "Jost", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  --font-anthony: "Anthony", "sans-serif";
  --text-2xs: 0.625rem;
}
